<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LingStar</title>

    <!-- Styles -->
    <link rel="shortcut icon" th:href="@{/img/LSbW.png}">
    <link rel="stylesheet" th:href="@{/css/styleWsp.css}">
    <link rel="stylesheet" th:href="@{/css/styleClienteInterfaz.css}">
    <script src="https://kit.fontawesome.com/2cb25f2c39.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- sweet alert 2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="header" id="header">
            <div>
                <img class="logo" th:src="@{/img/LogocutWwithoutback.png}">
            </div>
            <div class="items">
                <span class="user" id="name"></span>
                <span>|</span>
                <form th:action="@{/logout}" method="POST">
                    <input type="submit" class="close" value="Cerrar Session"></input>
                </form>
            </div>
        </div>
    </header>

    <div class="sidebar">
        <div class="logo-details">
            <span class="logo_name">BIENVENIDO</span>
        </div>
        <ul class="nav-links">
            <li>
                <a th:href="@{Dashboard}">
                    <i class='bx bx-money'></i>
                    <span class="link_name">Precios</span>
                </a>
            </li>
            <li>
                <a th:href="@{MyAccount}">
                    <i class='bx bx-user'></i>
                    <span class="link_name">Mi Cuenta</span>
                </a>
            </li>
            <li>
                <a th:href="@{Reservations}">
                    <i class='bx bx-check-square'></i>
                    <span class="link_name">Reservar</span>
                </a>
            </li>
            <li>
                <a th:href="@{MyReservations}">
                    <i class='bx bxs-calendar-check'></i>
                    <span class="link_name">Mis Reservas</span>
                </a>
            </li>
        </ul>
    </div>


    <div class="contenido">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                    <div class="titulo-client">
                        <h1>MIS DATOS</h1>
                    </div>
                    <div class="formulario-client">
                        <div class="input-client">
                            <p><input type="number" id="ClientID" placeholder="id"></p>
                            <p>EMAIL <input type="email" id="email" placeholder="Tu email"></p>
                            <p>NOMBRES <input type="text" id="Clientname" placeholder="Tu nombre"></p>
                            <p>APELLIDOS <input type="text" id="lastname" placeholder="Tu apellido"></p>
                            <p>TELEFONO <input type="number" id="tel" placeholder="Tu telefono"></p>
                            <p>EDAD <input type="number" id="age" placeholder="Tu edad"></p>
                            <p>CONTRASEÑA <input type="password" id="password" placeholder="Tu contraseña"></p>
                            <p>CONFIMA TU CONTRASEÑA <input type="password" id="passwordConfirm" placeholder="Confirma Tu contraseña"></p>
                        </div>
                    </div>
                    <div class="buttons-client">
                        <button class="btn btn-guardarEdicionClient" id="btn-guardarEdicionClient"
                            onclick="actualizarRegistroClient()">Actualizar</button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="imagen-client">
                        <img class="img-client" th:src="@{/img/Hidden-amico.svg}" alt="google-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="listar-client" id="listadoClient"></div>

    <!-- Boton de Whatsapp -->
    <a href="https://api.whatsapp.com/send?phone=5195508107&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202."
        class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
    </a>
    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/sweetalert2/dist/sweetalert2.min.js"></script>
    <!-- functions.js -->
    <script type="text/javascript" th:src="@{/js/Functions.js}"></script>
    <script type="text/javascript" th:src="@{/js/functionScriptClient.js}"></script>
    <script type="text/javascript" th:src="@{/js/functionScriptHeader.js}"></script>
    <script>
        $(document).ready(function () {
            username();
            myAccount();
            editarRegistroClient(1);
            $("#btn-guardarEdicionClient").show();
            $("#email").prop('disabled', true);
            $("#ClientID").hide();
        })
    </script>
</body>

</html>