@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --color-fondo: #e8e8e8;
}

body {
    overflow-x: hidden;

}

header {
    font-family:"Anton", sans-serif;
    position: fixed;
    width: 100%;
    overflow: hidden;
    background: #bdbbbb;
    margin-bottom: 20px;
}

header a{
    text-decoration: none;
}

.header2 {
    position: fixed;
    height: 100px;
}

.img-box .back-img{
    height: 80%;
    width: auto;
}

.img-box .main-img{
    height: 80%;
    width: auto;
}

.img-box {
    width: 50%;
    height: 75%;
    position: absolute;
    bottom: 120px;
    right: 100px;
}

.asd img{
    bottom: 120px;
    left: 50%;
    transform: translateY(-50px);
    transition: bottom 1s, left 1s;
}

.ewq-img{
    position: absolute;
    width: 40%;
    bottom: 0%;
    /* left: 10px; */
}

.qwe-img{
    position: absolute;
    width: 30%;
}

.asd:hover .qwe-img{
    bottom: 150px;
}

.asd:hover .ewq-img{
    left: 44%;
}

@media screen and (max-width: 1450px) {
    .asd .qwe-img,
    .asd .ewq-img{
        height: 40%;
        width: auto;
    }
    .asd:hover .qwe-img{
        bottom: 150px;
    }
    
    .asd:hover .ewq-img{
        left: 400px;
    }
}

@media screen and (max-width: 1300px) {
    .asd .qwe-img,
    .asd .ewq-img{
        left: 650px;
        height: 40%;
        width: auto;
    }
    .asd:hover .qwe-img{
        bottom: 150px;
    }
    
    .asd:hover .ewq-img{
        left: 520px;
    }
}

@media screen and (max-width: 1200px) {
    .asd .qwe-img,
    .asd .ewq-img{
        left: 580px;
        height: 35%;
        width: auto;
    }
    .asd:hover .qwe-img{
        bottom: 150px;
    }
    
    .asd:hover .ewq-img{
        left: 550px;
    }
}

@media screen and (max-width: 1000px) {
    .asd .qwe-img,
    .asd .ewq-img{
        transform: translateY(120px);
        left: 200px;
        height: 45%;
        width: auto;
    }
    .asd:hover .qwe-img{
        bottom: 150px;
    }
    
    .asd:hover .ewq-img{
        left: 150px;
    }
}

@media screen and (max-width: 900px) {
    .asd .qwe-img,
    .asd .ewq-img{
        transform: translateY(220px);
        left: 120px;
        height: 45%;
        width: auto;
    }
    .asd:hover .qwe-img{
        bottom: 150px;
    }
    
    .asd:hover .ewq-img{
        left: 100px;
    }
}

@media screen and (max-width: 720px) {
    .asd .qwe-img,
    .asd .ewq-img{
        transform: translateY(200px);
        left: 70px;
        height: 35%;
        width: auto;
    }
    .asd:hover .qwe-img{
        bottom: 150px;
    }
    
    .asd:hover .ewq-img{
        left: 120px;
    }
}

@media screen and (max-width: 550px) {
    .asd .qwe-img,
    .asd .ewq-img{
        transform: translateY(150px);
        left: 40px;
        height: 30%;
        width: auto;
    }
    .asd:hover .qwe-img{
        bottom: 150px;
    }
    
    .asd:hover .ewq-img{
        left: 30px;
    }
    
}

@media screen and (max-width: 450px) {
    .asd .qwe-img,
    .asd .ewq-img{
        transform: translateY(80px);
        left: 50px;
        height: 26%;
        width: auto;
    }
    
}

@media screen and (max-width: 400px) {
    .asd .qwe-img,
    .asd .ewq-img{
        transform: translateY(180px);
        left: 55px;
        height: 25%;
        width: auto;
    }
    
}

@media screen and (max-width: 380px) {
    .asd .qwe-img,
    .asd .ewq-img{
        transform: translateY(320px);
        left: 55px;
        height: 29%;
        width: auto;
    }
}

@media screen and (max-width: 365px) {
    .asd .qwe-img,
    .asd .ewq-img{
        transform: translateY(320px);
        left: 55px;
        height: 25%;
        width: auto;
    }
}







.img-box img {
    height: 100%;
    position: absolute;
    left: 65%;
    margin-left: -18%;
    margin-top: 90%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.img-box:hover .back-img {
    bottom: 40px;
}

.img-box:hover .main-img {
    left: 54%;
}

.main-text {
    text-decoration: none;
    width: 90%;
    max-width: 1200px;
    font-family:"Anton", sans-serif;
    margin: auto;
    margin-top: 150px;
    font-size: 23px;
}

.main-text a{
    text-decoration: none;
}



.main-text h1 {
    margin-top: 140px;
    font-size: 60px;
}

.main-text h2 {
    font-size: 1.7em;
}

.main-text p {
    line-height: 30px;
    font-family: "Work Sans";
    text-align: justify;
    font-size: .9em;
    padding: 1.2rem 3rem 1.2rem 0;
    margin: auto;
}

.main-text a {
    margin-top: 150px;
    font-size: 1em;
    color: #2e8b57
}

@media screen and (max-width:800px) {
    .main-text p{
        padding: 1.2rem 0rem 1.2rem 0;
        margin: auto;
    }
}

@media screen and (max-width:600px) {
    .main-text {
        padding-left: 10px;
        margin-top: 100px;
        font-size: 23px;
    }

    .main-text p{
        padding: 1.2rem 0rem 1.2rem 0;
        margin: auto;
    }
}

.banner-text h2 {
    text-align: left;
    font-size: 1em;
    font-weight: 600;
}

/*Inicio de sesion (on)*/
.welcome {
    text-align: center;
    font-size: 1.5em;
    margin-top: 5em;
}

.welcome h1 {
    text-align: center;
}

.welcome h2 {
    color: seagreen;
}

.devolver {
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em 0 0 0;
}

.devolver h1 {
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em 0 0 0;
}

.section1 {
    margin-top: 250px;
}


.section{
    margin-top: 600px;
    width: 100%;
    background-color: #f1f1f1;
}



.container {
    width: 20%;
    margin: auto;
    padding-top: 0px;
}


.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section img {
    border-radius: 1px;
    width: 100%;
    height: 100%;
}

.content-section {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    font-family:"Anton", sans-serif;
    margin-top: 180px;
    margin-bottom: 80px;
    padding: 10px;
    text-align: justify;

}

@media screen and (max-width: 900px) {
    .content-section {
        margin-top: 200px;
    }
    .content-section .content p{
        margin: 0%;
        font-size: 1.3rem;
    }
    .content-section .content{
        margin: 0%;
        padding: 0%;
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .content-section {
        margin-top: 200px;
    }
    .content-section .content p{
        margin: 0%;
        font-size: 1.3rem;
    }
    .content-section .content{
        margin: 0%;
        padding: 0%;
        font-size: 1rem;
    }
    .main-text h1{
        margin-top: 80px;
    }
    
}

@media screen and (max-width: 720px) {
    section .content-section {
        margin-top: 400px;
        padding: 20px;
    }
    .content-section .content p{
        margin: 0%;
        padding: 0%;
        font-size: 1rem;
    }
    .content-section .content{
        margin: 0%;
        padding: 0%;
        font-size: 1rem;
    }
    .main-text p{
        font-size: 1rem;
        margin-right: 0px;
    }
}


.content-section .title {
    display: flex;
    text-transform: uppercase;
    font-size: 28px;
}

.content-section .content h3 {
    font-family:"Anton", sans-serif;
    margin-top: 20px;
    color: seagreen;
}

.content-section .content {
    font-size: 20px;
}

.content{
    font-size: 50px;
    font-family: "Work Sans";
    line-height: 30px;
}

.content p{
    font-size: 25px;
}

.content-section .image-section img{
    height: auto;
    width: 800px;
    margin-right: 50px;
}

@media screen and (max-width: 770px) {

    .content-section {
        display: block;
        margin: auto;
        margin-top: 400px;
    }

    .image-section {
        display: none;
    }

}

/*footer*/
footer {    
    font-family: "Work Sans";
    position: absolute;
    margin-bottom: 0px;
    background: rgb(59, 59, 59);
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 20px;
    color: #fff;

}

.footer-content {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content a {
    font-size: 15px;
}

.footer-content p {
    max-width: 500px;
    margin: 1px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.5rem;
    transition: color .4s ease;

}

.socials a:hover i {
    color: seagreen;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

