@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header{
    font-family:"Anton", sans-serif;
    top: 0;
	position: fixed;
	width: 100%;
    z-index: 999;
}

.header2{
    position: fixed;
    height: 100px;
}


.header{
	color: #FFF;
	background: #f0eded;
	height: 35px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
    height: 100px;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 0px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}


.items{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 100px;
}

.items span {
    color: rgb(10, 10, 10);
    font-size: 11pt;
    text-transform: uppercase;
    margin-left: 30px;
}

.items a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: 30px;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav */
.sidebar{    
    font-family:"Anton", sans-serif;
    top: 100px;
    position: fixed;
    left: 0;
    height: 100%;
    width: 0;
    background: seagreen;
    z-index: 99;
    border-radius: 3px;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar .closeSidebar {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
    color: #E9ECF4;
    transition: 0.5s;
}

.openSidebar{
    position: absolute;
    margin-left: 20px;
    font-size: 40px;
    color: black;
    font-weight: bold;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.sidebar ul>li>a{
  display: block;
  transition: 0.3s;
}

.logo-details{
    margin-top: 130px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo-details i{
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    margin-left: 50px;
}

.sidebar .logo-details .logo_name{
    font-size: 35px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 70px;
    
}

.sidebar .nav-links{
    padding-left: 10px;
    transition: 0.3s;
    margin-top: 30px;
    height: 100%;
    padding-top: 30px;
}

li{
    z-index: -1;
    padding: 10px 10px;
    list-style: none;
    display: flex;
    align-items: center;
    align-content: center;
}

li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
}

.sidebar .nav-links a{
    text-decoration: none;
}

.link_name{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.sidebar .nav-links li:hover{
    background: #197941;
}

.bx{
    margin-left: 40px;
    font-size: 20px;
}

.bxs-chevron-down{
    font-size: 25px;
}

.bx-user{
    margin-left: 20;
}


.close{
    color: rgb(0, 0, 0);
    padding: 8px;
    border: 2.5px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-left: 20px;
    transition: .2s all ease;
}

.close:hover{
    color: #FFF;
    border: 3px solid seagreen;
    background-color: seagreen;
    transition: .2s all ease;
}

.logo{
    width: 120px;
    margin-left: 10px;
    display: flex;
    justify-items: left;
    margin-left: 75px;
}



body{
    right: 0;
}

.contenido{
    max-width: 1200px;
    width: 90%;
    z-index: 99;
    font-family:"Anton", sans-serif;
    margin: auto;
    margin-top: 100px;
}

h1{
    text-align: center;
}


.buttons-Reserva,
.buttons-client,
.buttons-message{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    border: none;
}


.buttons-Reserva .btn,
.buttons-client .btn,
.buttons-message .btn{
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 2.5px solid rgb(0, 0, 0);
    border-radius: 10px;
    transition: .2s all ease;
}

.buttons-Reserva .btn:hover,
.buttons-client .btn:hover,
.buttons-message .btn:hover{
    border: none;
    padding: 12.5px;
    background-color: #0c16d6d7;
    color: #E9ECF4;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

input,
textarea,
select{
    font-family:"Anton", sans-serif;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.input-Reserva p,
.input-client p,
.input-message p,
.input-room p{
    margin: 20px 40px 10px 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.input-room{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.formulario-client{
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
    background-color: seagreen;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.formulario-Reserva{
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
    background-color: seagreen;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.titulo-client{
    margin-top: 80px;
    grid-column: 1/2;
    grid-row: 1/2;
}

.titulo-Reserva{
    margin-top: 100px;
    grid-column: 1/2;
    grid-row: 1/2;
}



.titulo-Reserva,
.titulo-client,
.titulo-message{
    font-size: 1rem;
}

.imagen-client{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-client{
    margin: auto;
    margin-top: 150px;
    height: 450px;
    width: 80%;
}

.input-client p,
.input-Reserva p{
    color: #fff;
    letter-spacing: 1px;
}

.input-Reserva input,
.input-client input{
    width: 100%;
}

/**
*   Cards
**/
.container__cards{
    border: none;
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
    margin: auto;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
}

.cards{
    font-family: 'Roboto', sans-serif;
    width: 350px;
    margin: 10px;
    transition: all 300ms;
    margin-left: 40px;
}

.cards:hover{
    width: 350px;
}

.cards .cover{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.cards .cover img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 400ms;
}

.cards:hover .cover img{
    top: 0px;
    filter: none;
}

.cards .img__back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.cards:nth-of-type(1) .img__back{
    /* background-image: url(../img/bg1.jpg); */
    background-image: url(../img/h-small.jpg);
}

.cards:nth-of-type(2) .img__back{
    /* background-image: url(../img/bg2.jpg); */
    background-image: url(../img/h-medium.jpg);
}

.cards:nth-of-type(3) .img__back{
    /* background-image: url(../img/bg3.jpg); */
    background-image: url(../img/h-vip.jpg);
}

.cards:hover .img__back{
    bottom: 10px;
}

.cards .description{
    background: white;
    margin-top: -10px;
    padding: 15px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.cards:hover .description{
    padding: 10px;
}

.cards .description h2{
    font-family:"Anton", sans-serif;
    letter-spacing: 1px;
    margin-top: 10px;
}

.cards .description p{
    margin-top: 10px;
}

.cards .description input{
    font-weight: bold;
    padding: 10px 40px;
    margin-top: 20px;
    background: seagreen;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.cards .description input:hover{
    background: rgb(76, 179, 120);
}





.listar-Reserva{
    width: 60%;
    margin-left: 500px;
    margin-top: 200px;
}

.listar-Reserva th,
.listar-Reserva td,
.listar-Reserva tr,
.listar-Reserva table{
    padding: 10px;
}





.btn-borrarRegistroReserva{
    font-size: 15px;
    padding: 10px;
    color: #fff;
    background-color: rgb(153, 24, 24);
    border-radius: 5px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.btn-borrarRegistroReserva:hover{
    background-color: rgb(192, 75, 75);
}

@media (max-width:800px){
    .logo{
        width: 80px;
        margin-left: 10px;
    }
    .items{
        margin-right: 10px;
    }
    .formulario-Reserva{
        margin-left: 5px;
        margin-right: 5px;
    }
    .formulario-client{
        margin-left: 5px;
        margin-right: 5px;
    }
    .img-client{
        margin-top: 20px;
    }
}

@media (min-width: 1600px) {

    .sidebar{
        width: 300px;
    }
        
}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

/* CSS */

}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

/* CSS */

}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

/* CSS */

}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

/* CSS */

}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

/* CSS */

}