<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <link rel="stylesheet" href="../static/css/style.css">
      <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div class="row justify-content-center mt-5">
        <div class="col-lg-3">
            <div th:if="${param.error}" class="alert alert-danger mb-3">
                Credenciales Incorrectas!
            </div>
            <form method="POST" th:action="@{/auth/login-post}" name="formLogin">
                <div class="row form-group mb-3">
                    <label class="mb-2">Correo</label>
                    <!-- Es necesario especificar el name como "username" para que Springboot realice su proceso de validacion de credenciales -->
                    <input type="email" id="user_email" name="username" class="form-control input-login" required autofocus="autofocus">
                </div>
                <div class="row form-group mb-3">
                    <label class="mb-2">Password</label>
                    <!-- Es necesario especificar el name como "password" para que Springboot realice su proceso de validacion de credenciales -->
                    <input type="password" id="user_password" name="password" class="form-control input-login" required autofocus="autofocus">
                </div>
                <div class="row form-group">
                    <button type="button" id="btn_login" class="btn btn-primary" onclick="validateLogin()">Iniciar Sesion</button>
                    <!-- <input type="submit" class="btn btn-success" name="Continuar"></input> -->
                </div>
                <br>
                <!-- <article>
                    <label for="login"> Para iniciar con Github: <a href="/oauth2/authorization/github">Clic Aquí</a></label>
                </article> -->
            </form>
        </div>

    </div>
    <!-- libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/sweetalert2/dist/sweetalert2.min.js"></script>
    <!-- functions.js -->
    <script type="text/javascript" th:src="@{/js/Functions.js}"></script>
    <script src="../static/js/Functions.js"></script>
    <script>
        // $('#btn_login').prop('disabled', true)
    </script>
</body>

</html>