<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card card-body">
                    <h3 class="text-center">Gracias por preferirnos!</h3>
                    <img style="height: 380px; width: auto;" th:src="@{/img/img-logout.svg}">
                    <a th:href="@{/}" class="btn btn-primary mt-3 m-auto">Volver a LingStar</a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/sweetalert2/dist/sweetalert2.min.js"></script>
    <!-- functions.js -->
    <script type="text/javascript" th:src="@{/js/Functions.js}"></script>
</body>

</html>